.homepage-main {
  background: rgb(245, 218, 234);
  height: 100vh;
}

.box2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero-heading {
  
  font-size: 4.5rem;
  font-weight: bolder;
  color: black;
  padding-left: 6.5rem;
}
  
.hero-heading span {
  background: #ee0979; /* fallback for old browsers */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}
.hero-discrip {
  padding-left: 6.5rem;
  font-size: 1.75rem;
  text-align: left;
  color: black;
} 
.button-style {
  padding-left: 6.5rem;
  
}
.box3 {
  display: flex;
  justify-content: center;
  gap:1rem;

}
.box4 {
  padding-left: 14rem;
  font-weight: bold;
}


.box5 {
  display: flex;
  justify-content: center;
}
.box6 {
  width: 40rem;
  height: 25rem;
  
}
.box7 {
  font-weight: bolder;
}

.client-container {
  font-weight: bolder;
  padding-left: 14.5rem;
}

.card-text-list {
  text-decoration: none;
  padding: 0rem !important;
  padding-bottom: 0rem !important;
}
@media (max-width: 480px) {
  .box2 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .hero-heading {
    padding-left: 0rem;
  }
  .hero-discrip {
    padding-left: 0rem;
    font-size: 1rem;
  }
  .button-style {
    padding-left: 0rem;

  }
  .box4 {
    padding-left: 0rem;
    padding-top: 8rem;

  }
  .box3 {
    display: grid;
    justify-content: center;
  }
  .client-container {
    padding-left: 0rem;
  }
}
  
